node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nx/cache
dist
.DS_Store
.vscode
*.log
*.md
.prettierrc
.prettierignore
eslint.config.mjs
Dockerfile*
docker-compose*
.dockerignore